<footer>
	<div id="media">
		  <a href="https://www.instagram.com/"> <img class="social" src="/imagini/ig.png" alt="Instagram" title="Instagram" ></a>
		  <a href="https://www.facebook.com/"> <img class="social" src="/imagini/fb.png" alt="Facebook" title="Facebook"></a>
		  <a href="https://twitter.com/"><img class="social" src="/imagini/twitter.png" alt="Twitter" title="Twitter"></a>
	</div>
		<a href="#" id="link-top"><div id="triunghi"></div></a>
		<a class="bibliografie" href="/bibliografie">Bibliografie</a>  <a class="filme" href="/filme">Filme</a><br><br>
			Copyright &#169; 2020 Proiect Tehnici Web Cinematografie| Designed by Silistru Delia
</footer>