
	<div class="meniu">
		<nav>
			<ul class="menu">
				<li>
					<div> <a href="/">Prima pagina</a> </div>
					<ul class="submenu">
						<li><a href="/#Ist">Istoric</a></li>
						<li><a href="/#tehnl">Tehnologie</a></li>
					</ul>
				</li>
				<li> <a href=" /filmesiseriale">Filme și seriale</a> </li>
				<li> <a href=" /celebritati">Celebritati</a> </li>
				<li>
				<div><a href=" /genuri">Genuri</a></div>
					<ul class="submenu">
						<li><a href="/genuri#com">Comedie</a></li>
						<li><a href="/genuri#sf">SF</a></li>
						<li><a href="/genuri#horror">Horror</a></li>
						<li><a href="/genuri#rom">Romantic</a></li>
						<li><a href="/genuri#actiune">Actiune</a></li>
						<li><a href="/genuri#thriller">Thriller</a></li>
						<li><a href="/genuri#drama">Drama</a></li>
						<li><a href="/genuri#mister">Mister</a></li>
						<li><a href="/genuri#anim">Animatie</a></li>
						<li><a href="/genuri#avent">Aventura</a></li>
						<li><a href="/genuri#fantastic">Fantastic</a></li>
						<li><a href="/genuri#comrom">Comedie-Romantica</a></li>
						
					</ul>
				</li>

			</ul>
		 </nav>

	
	</div>
	