<!DOCTYPE html>
<html lang="ro">

<head>
	<link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon2.jpg" >
	<meta charset="UTF-8">
	<meta name="descrierea" content="Cinematografia este tehnica sau arta de a înregistra fotografic unele scene pe un film special și de a le reproduce prin proiectare luminoasă pe un ecran. ">
	<meta name="keywords" content="Cinematografie, Film, Arta, Tehnica cinematografica ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>
		Cinematografia
	</title>

<link rel="stylesheet" type="text/css" href="/stiluri/style.css">
<link rel="stylesheet" href="/stiluri/style_1000.css" type="text/css" media="screen and (max-width: 1000px)" />
<link rel="stylesheet" href="/stiluri/style_700.css" type="text/css" media="screen and (max-width: 700px)" />
</head>

<body>

	
	<div class="container">
	<%-  include('../fragmente/header')  %> <!-- < % - ca sa interpreteze tagurile -->
	<%-  include('../fragmente/menu')  %>
	
	
<main>
<img class="404" src="/imagini/404ep.png" alt="404" title="error 404" style="width: 100%;">
</main>	

<%- include('../fragmente/footer')  %>
</div>
	</body>
</html>